# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\deaProjects\SpringBoot2_workspace\boot-05-web-admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
